@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121212;
    --text-color: #959595;
    --accent-color: #FD6F00;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 0;
    background: none;
}

nav .logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav ul li a{
    font-size: 24px;
    font-weight: medium;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.active-link {
    color: var(--accent-color);
}

nav ul {
    width: 40%;
}

nav ul li a:hover {
    color: var(--accent-color);
    transition: all 0.3s ease;
}

nav .hire-me {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav .hire-me a {
    text-decoration: none;
    font-size: 20px;
    font-weight: medium;
    background-color: var(--accent-color);
    color: #ffffff;
    border-radius: 8px;
    width: 160px;
    padding: 10px 35px;
    transition: all 0.3s ease;
}
nav .hire-me a:hover {
    background-color: #ffffff;
    color: var(--accent-color);
    transition: all 0.3s ease;
}


/* ------------------------------------------- */

.hi {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
}
.hi .info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}